<ion-header>
  <ion-toolbar>
    <ion-title>{{ planesTrabajos[0].titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <circle-progress
      [percent]="obtenerPorcentaje(planesTrabajos[0])"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [subtitle]="'Progreso'"
     ></circle-progress>

    <ion-card-header>
      <ion-card-title>{{ planesTrabajos[0].titulo }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ planesTrabajos[0].descripcion }}</p>
      <!-- Botón para abrir el modal -->
      <ion-button expand="block" (click)="abrirModal()">Ver Actividades</ion-button>
    </ion-card-content>
  </ion-card>

 
</ion-content>
