.text{
    font-size: 30px;
    color: black;
    font-family: 'merriweather';
    font-style: italic;
    text-align: center;
}


.card-principal{
    margin-top: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
}