<ion-header>
  <ion-toolbar>
    <ion-title>Plan de trabajo IA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button expand="full" (click)="ejecutarFunciones()" [disabled]="buttonDisabled">
  <ion-spinner *ngIf="cargando" name="crescent"></ion-spinner>
  <span *ngIf="!cargando">Generar plan de trabajo</span>
</ion-button>

<ion-button expand="block" color="primary" (click)="irAlHome()">
  Volver al inicio
</ion-button>
  

  <div *ngIf="recomendaciones && recomendaciones.preguntasPlanes">
    <h2>Grupo: {{ grupoActivo }}</h2>
    
    <ion-card *ngFor="let item of recomendaciones.preguntasPlanes">
      <ion-card-content>
        <p><strong>Pregunta:</strong> {{ item.pregunta }}</p>
        <p><strong>Puntaje:</strong> {{ item.puntaje }}</p>
        <p><strong>Recomendación:</strong> {{ item.plan }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
