<ion-content>
  <div class="image-container">
    <img src="assets/icon/planCompletado.png" alt="Plan completado" class="person-logo" />
  </div>

  <ion-card class="card-principal">
    <p class="text">¡Has respondido todas las preguntas! Ahora puedes generar tu plan de trabajo personalizado.</p>

    <ion-button expand="full" (click)="ejecutarFunciones()" [disabled]="buttonDisabled">
      <ion-spinner *ngIf="cargando" name="crescent"></ion-spinner>
      <span *ngIf="!cargando">Generar plan de trabajo</span>
    </ion-button>

    <ion-button expand="block" color="primary" (click)="irAlHome()">
      Volver al inicio
    </ion-button>
  </ion-card>
</ion-content>
