<ion-content>
  <img class="logo_app" src="assets/icon/BELS.jpeg" alt="Logo de la aplicación" />
  <!-- Espacio opcional para el texto adicional -->
  <span style="margin-left: 10px;"></span>
  <ion-card>

    <ion-card-header>
      <ion-card-title>¡Cuenta creada con éxito!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Tu cuenta ha sido creada. Ahora puedes iniciar sesión.</p>
      <ion-button class="go-login" routerLink="/login">Ir al Login</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

