<ion-header>
  <ion-toolbar>
    <ion-title>
      <!-- Muestra el logo dentro del título -->
      <img class="logo_app" src="assets/icon/BELS.jpeg" alt="Logo de la aplicación" />
      <!-- Espacio opcional para el texto adicional -->
      <p class="text">Basic Everyday Living Skills</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content class="card">
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <ion-item>
          <ion-label position="stacked">Correo electrónico</ion-label>
          <ion-input class="custom-input" type="email" [(ngModel)]="email" name="email" required></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input class="custom-input" type="password" [(ngModel)]="password" name="password" required></ion-input>
        </ion-item>        

        <ion-button expand="full" type="submit" [disabled]="!loginForm.form.valid">Iniciar Sesión</ion-button>
        <ion-button expand="full" (click)="goToRegister()">Crear cuenta</ion-button>
        <ion-button expand="block" fill="outline" (click)="recuperarContrasena()">¿Olvidaste tu contraseña?</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
