/* login.page.scss */
ion-card {
  margin: 20px; /* Espaciado alrededor de la tarjeta */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

ion-card-header {
  background-color: #f8f8f8; /* Color de fondo para el encabezado de la tarjeta */
}

ion-card-content p {
  margin-bottom: 15px; /* Espaciado debajo del párrafo */
}

ion-button {
  background-color: #3880ff; /* Color del botón */
  color: white; /* Color del texto del botón */
  margin: 20px;
}

* {
  font-family: 'Merriweather', serif;
  font-weight: 500; /* Puedes especificar el peso que prefieras */
  font-size: 20px;
}

.text{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #3880ff;
}

ion-card-title {
  font-size: 24px; /* Tamaño de fuente para el título */
  font-weight: bold; /* Negrita para el título */
}

.custom-input {
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-top: 8px;
  --inner-padding-bottom: 8px;
  --border-radius: 8px;
  --background: #f0f0f0;
  --border-width: 1px;
  --border-color: #ccc;
    margin: 16px 0px 16px 0px;
}

.logo_app{
  height: 250px;
  display: flex;
  margin: auto;
}

.link-button {
  background: none;
  color: black; /* Cambia esto por el color que prefieras */
  font-size: 1rem;
  text-decoration: underline;
  padding: 0;
  height: auto;
  margin-top: 20px;
}

