<ion-content *ngIf="preguntas.length > 0">
  <ion-title>
    <!-- Muestra el logo dentro del título -->
    <img class="logo_app" src="assets/icon/logo.png" alt="Logo de la aplicación" />
  </ion-title>

  
  <form (ngSubmit)="enviarFormulario()">
    <!-- Mostrar solo la pregunta si el grupo está activo -->
    <ion-card *ngIf="preguntas[indiceActual].Grupo === grupoActivo; else bloqueado">
      <p class="grupo">{{ preguntas[indiceActual].Grupo }}</p>

      <div class="contenedor-texto-pregunta">
        <p class="texto-pregunta">
          {{ preguntas[indiceActual].pregunta }}
        </p>
      </div>

      <ion-card-content>
        <!-- Grupo de radio en horizontal con valores debajo -->
        <ion-radio-group
          [(ngModel)]="preguntas[indiceActual].valor"
          name="valor{{indiceActual}}"
          (ionChange)="actualizarEstado(indiceActual)"
        >
          <div class="horizontal-radio-group">
            <div class="radio-item" *ngFor="let valor of [0, 1, 2, 3, 4]">
              <ion-radio slot="start" [value]="valor"></ion-radio>
              <ion-label class="below-radio">{{ valor }}</ion-label>
              <!-- Texto adicional debajo de los extremos -->
            </div>
          </div>
        </ion-radio-group>
        <div class="container-significado-opciones">
          <p>Significado de los extremos:</p>
          <p>Opción 0: Total imposibilidad de realizar la tarea</p>
          <p>Opción 4: Total posibilidad de realizar la tarea</p>
        </div>
      </ion-card-content>
      
    </ion-card>

    <!-- Mostrar contenido bloqueado cuando el grupo no es el activo -->
    <ng-template #bloqueado>
      <ion-card>
        <ion-card-header>
          <ion-card-title color="medium">Este grupo está bloqueado.</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Por favor, completa el grupo "{{ grupoActivo }}" para desbloquear el siguiente.</p>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </form>

    <!-- Pie de página fijo con los botones -->
  <div class="botones-nav">
    <ion-button expand="full" (click)="anterior()" [disabled]="indiceActual === 0">Anterior</ion-button>
    <ion-button expand="full" (click)="siguiente()" [disabled]="indiceActual === preguntas.length - 1">Siguiente</ion-button>
    <ion-button expand="full" type="submit" *ngIf="indiceActual === preguntas.length - 1">Enviar Respuestas</ion-button>
  </div>
</ion-content>

<!-- Mostrar mensaje cuando no haya preguntas -->
<ion-text *ngIf="preguntas.length === 0">
  No se encontraron preguntas.
</ion-text>
