<ion-header>
  <ion-toolbar>
    <ion-title>Realizar Test BELS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="preguntas.length > 0">
  <form (ngSubmit)="enviarFormulario()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ preguntas[indiceActual].pregunta }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <!-- Grupo de radio en horizontal con valores debajo -->
        <ion-radio-group [(ngModel)]="preguntas[indiceActual].valor" name="valor{{indiceActual}}" (ionChange)="actualizarEstado(indiceActual)">
          <div class="horizontal-radio-group">
            <div class="radio-item">
              <ion-radio slot="start" value="0"></ion-radio>
              <ion-label class="below-radio">0</ion-label>
            </div>
            <div class="radio-item">
              <ion-radio slot="start" value="1"></ion-radio>
              <ion-label class="below-radio">1</ion-label>
            </div>
            <div class="radio-item">
              <ion-radio slot="start" value="2"></ion-radio>
              <ion-label class="below-radio">2</ion-label>
            </div>
            <div class="radio-item">
              <ion-radio slot="start" value="3"></ion-radio>
              <ion-label class="below-radio">3</ion-label>
            </div>
            <div class="radio-item">
              <ion-radio slot="start" value="4"></ion-radio>
              <ion-label class="below-radio">4</ion-label>
            </div>
          </div>
        </ion-radio-group>
      </ion-card-content>
    </ion-card>

    <!-- Botones de navegación -->
    <ion-button expand="full" (click)="anterior()" [disabled]="indiceActual === 0">Anterior</ion-button>
    <ion-button expand="full" (click)="siguiente()" [disabled]="indiceActual === preguntas.length - 1">Siguiente</ion-button>

    <!-- Mostrar botón de enviar solo en la última pregunta -->
    <ion-button expand="full" type="submit" *ngIf="indiceActual === preguntas.length - 1">Enviar Respuestas</ion-button>
  </form>
</ion-content>

<!-- Mostrar mensaje cuando no haya preguntas -->
<ion-text *ngIf="preguntas.length === 0">
  No se encontraron preguntas.
</ion-text>
