<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Instrucciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>
        Instrucciones
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>  
    <ion-card-header>
      <ion-card-title>
    <H1 class="titulo"> Instrucciones para realizar Test</H1>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

    <p> El Test Bels esta diseñado para medir tus habilidades basicas del diario vivir. Contesta este test de manera seria y responsable no te tomará mas de 3 minutos.</p>
    <p> Selecciona la opción que mas coincida contigo. Selecciona de 1 al 4 siendo 1 el valor que representa la mayor dificultad para realizar la actividad y 5 el valor que representa que no tienes problemas para realizarla.</p>
    <p> En el caso que no puedas realizar la actividad de la pregunta por que no tienes la posibilidad selecciona la opción 0.</p>        


  <ion-button expand="full" routerLink="/realizar-test">Realizar Test</ion-button>
</ion-card-content>
</ion-card>


</ion-content>



