<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Instrucciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Instrucciones</ion-title>
    </ion-toolbar>
  </ion-header>
  
    <H1> Instrucciones para realizar Test Bels</H1>
    <H3> El Test Bels esta diseñado para medir tus habilidades basicas del diario vivir. Contesta este test de manera seria y responsable no te tomará mas de 3 minutos.</H3>
    <H3> Selecciona la opción que mas coincida contigo. Selecciona de 1 al 5 siendo 1 el valor que representa la mayor dificultad para realizar la actividad y 5 el valor que representa que no tienes problemas para realizarla.</H3>
    <H3> En el caso que no puedas realizar la actividad de la pregunta por que no tienes la posibilidad selecciona la opción 0.</H3>        


  <ion-button expand="full" routerLink="/realizar-test">Realizar Test</ion-button>


</ion-content>



