<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menu principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <swiper-container class="swiper-container">
    <swiper-slide>
      <img src="assets/icon/slider-izquierdo.jpeg" alt="Imagen 1" class="person-logo" />
    </swiper-slide>
    <swiper-slide>
      <img src="assets/icon/slider_derecho.jpeg" alt="Imagen 2" class="person-logo" />
    </swiper-slide>
  </swiper-container>

  <!-- Mostrar el nombre del usuario en la interfaz -->
  <p *ngIf="nombreUsuario" style="text-align: center;">¡Bienvenido(a), {{ nombreUsuario }}!</p>

  <ion-card>
    <ion-card-content>
      <!-- El botón "Realizar Test" estará deshabilitado si el plan no está completo -->
      <ion-button expand="full" routerLink="/instrucciones" [disabled]="!botonRealizarTestHabilitado">
        Realizar Test
      </ion-button>
      <ion-button expand="full" routerLink="/ver-resultados">Ver Resultados</ion-button>
      <ion-button expand="full" routerLink="/plan-de-trabajo">Plan de Trabajo</ion-button>
      <ion-button expand="full" (click)="logout()">Cerrar sesión</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
