<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pag-bienvenida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Aqui ira una foto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-button expand="full" routerLink="/realizar-test">Realizar Test</ion-button>
        <ion-button expand="full" routerLink="/ver-resultados">Ver Resultados</ion-button>
        <ion-button expand="full" routerLink="/plan-de-trabajo">Plan de Trabajo</ion-button>
        <ion-button expand="full" (click)="logout()">Cerrar sesión</ion-button>        
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

