
<ion-content>
  <div class="custom-header">
    <img src="assets/icon/logo.png" alt="Logo de la aplicación" class="logo-app" />
  </div>

  <ion-card>
    <div class="image-container">
      <img src="assets/icon/bels-avatar.png" alt="Descripción de la imagen" class="person-logo" />
    </div>
    <ion-card-header>
      <ion-card-title class="text">¡Bienvenida/o al test BELS!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="large-text">
        BELS nace para transformar vidas. Nuestra misión es empoderarte para alcanzar tu máximo bienestar, mejorando tu salud mental y calidad de vida. Con la potencia de la inteligencia artificial, diseñamos planes de trabajo que te ayudarán a mejorar tu vida. Tú tienes la fuerza; nosotros te ayudamos a descubrirla. ¡Es momento de vivir plenamente!
      </div>
      <br>
      <br>
      <br>
     <ion-button expand="full" routerLink="/login" class="boton-continuar">Continuar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
