/* home.page.scss */
.large-text {
  font-size: 1.5em; /* Aumenta el tamaño del texto */
  font-weight: normal; /* Mantiene el estilo en negrita */
  color: black;
}

.logo_app{
height: 100px;
}

.person-logo{
  border-radius: 50%;
}

* {
  font-family: 'Merriweather', serif;
  font-weight: 600; /* Puedes especificar el peso que prefieras */
}
