/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

/* Importar fuentes desde Google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Configuración de fondo con imagen */
body, ion-app, ion-content {
    background: url('../../bels/src/img/background.png') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center;
    color: #ffffff; 
    font-family: 'Roboto', sans-serif;
  }
  

ion-content {
  --background: transparent;
  color: #ffffff; /* Ajusta el texto para que sea visible */
}

form {
  background: transparent;
  box-shadow: none;
  border: none;
}

ion-header, ion-toolbar {
  --background: transparent !important; /* Hace el fondo del header transparente */
  --ion-background-color: transparent !important; /* Elimina cualquier color de fondo */
  box-shadow: none; /* Elimina sombras entre el header y el contenido */
  border: none; /* Elimina cualquier borde */
  z-index: 10; /* Asegura que esté por encima del contenido */
}
