.image-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .person-logo {
    width: 150px;
    height: 150px;
    margin: auto;
  }
  
  .card-principal {
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: none;
  }
  
  h1 {
    font-size: 1.8rem;
    color: #3880ff;
  }
  
  p {
    font-size: 1.2rem;
    margin: 20px 0;
  }
  
  .person-logo{
    width: 80%;
    height: 80%;
    display: flex;
    margin-top: 100px;
  }