<ion-header>
  <ion-toolbar>
    <ion-title>Ver Actividades</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let actividad of categoria.actividad">
      <ion-checkbox slot = "start" color="success" [(ngModel)]= "actividad.completo" ></ion-checkbox>
      <ion-label>
        <h2>{{ actividad.nombre }}</h2>
        <p>{{ actividad.completo ? 'Completado' : 'Pendiente' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <div class="ion-text-center">
    <ion-button (click)="cerrarModal()">Cerrar</ion-button>
  </div>

</ion-content>