:host {
    ion-item {
      --background: #f9f9f9;
    }
  
    .sub-lista {
      margin-top: 10px; /* Opcional: Espacio adicional si lo deseas */
      padding: 0 16px;
      background-color: #f1f1f1;
    }
  }
  