<ion-content>  

  <div class="custom-header">
    <img src="assets/icon/logo.png" alt="Logo de la aplicación" class="logo-app" />
  </div>

  <ion-list class="lista-principal">
    <!-- Lista principal de días -->
    <ng-container *ngFor="let dia of dias">
      <ion-item (click)="toggleDia(dia)">
        <ion-label>
          <h2>{{ dia.dia }}</h2>
          <p>Actividades: {{ dia.completadas.length }} de {{ dia.total }} completadas</p>
        </ion-label>
        <ion-icon [name]="dia.expandido ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"></ion-icon>
      </ion-item>

      <!-- Sub-lista de actividades -->
      <ion-list *ngIf="dia.expandido" class="sub-lista">
        <ion-item-divider class="completadas-title">Completadas</ion-item-divider>
        <ion-item *ngFor="let actividad of dia.completadas">
          {{ actividad }}
        </ion-item>

        <ion-item-divider class="no-completadas-title">No Completadas</ion-item-divider>
        <ion-item *ngFor="let actividad of dia.noCompletadas">
          {{ actividad }}
        </ion-item>
      </ion-list>
    </ng-container>
  </ion-list>

  <ion-button expand="block" color="primary" (click)="irAlHome()">
    Volver al inicio
  </ion-button>

</ion-content>
